*{
    margin: 0px;
    padding: 0px;
    box-size: border-box;
    font-family: Verdana;
    list-style: none;
    text-decoration: none;
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #212326;

}

.Logo{
    color:#b39e66;
    font-size: 10px;
}
.Logo h2
{
    font-size: 20px;
    position: relative;

}


.nav-items
{
    display: flex; /*Displays items next to each other*/
    width:50%;
    justify-content: space-around;


}
.nav-items a{
    color:#dfe6e4;
    letter-spacing:1px;
}


.nav-items-drop
{
   /* position: absolute;
    right: 0px;
    height: 92vh;
    top: 50px;
    background-color:#212326; */
    display: none;
    /*
    align-items: center;
    justify-content: space-between;
    width: 40%;
    z-index: 1; */

}

.nav-items-drop a

{
    color:#dfe6e4;
    letter-spacing:1px;
    position: relative;
    top:10px;
}
.nav-items a:hover
{
    color: #b39e66;
    font-size:17px;
    transition: all 0.2s ease;
}


.hamburger-menu
{
    display: none;

}

.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color:#dfe6e4;
    margin: 5px;
}

@media screen and (max-width: 650px)
{
    body
    {
        overflow-x: hidden; /*Makes it so you cannot scroll to the right*/
        height:80vh;
    }
    .hamburger-menu
    {
        display: block;
        cursor: pointer;

    }
   .Logo h2
   {
       font-size:15px;
   }

    .nav-items{

        display:none;
    }

  .nav-items-drop
  {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 40px;
        background-color:#212326;
        display: none;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        width: 30%;


       z-index: 1;
    }


    .column_1, .column_2
    {
        font-size: 12px;
    }


    #AP.AD.GA
    {
        position: relative;
        height:100vh;
        padding: 10px;
        margin-left:90px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
   #team-section img
    {
        width:80px;
        height:100px;
    }

    #team-section {

        position: relative;
        text-align: center;
        height: 150vh;
        width: 100%;
        font-size: 20px;
    }
    .role
    {
        font-size: 10px;
    }

    .members-img
    {
        display: flex;
        justify-content:space-between;

        flex-wrap: wrap;
    }

    #social-media-section
    {

        font-size: 20px;
        position: relative;
        text-align: center;
        height:70px;
        width: 100%;
        margin-top:0;
    }
    #register {
        background-color: lightgray;
        position: relative;
        padding: 10px;
        height: 50vh;
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
    }
    .back_btn
    {
        font-size: 10px;
    }
    #feed a{
        position: relative;
        width:500px;
        height:250px;
        left:10px;

    }
    #feed
    {

        top:200px;
    }
    #about-section
    {
        height:200px;
    }
    #question
    {
        font-size: 12px;

    }
    #Twitter
    {
        font-size: 10px;
    }
    .email
    {
        font-size: 8px;
    }

}





.Logo
{
    font-size: 15px;
}

.bg_area
{
    position:relative;
    width: 100%;
    height: 90vh;
    /*background: url(th_img.jfif);*/
    /*background-size: cover;*/
    background-color: lightgray;

}
.content
{
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 30px;


}
.content h1
{
    color:#b39e66;
}

.button
{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    top: 30px;
    color: black;
    padding: 5px;


}

.button:hover
{
    font-size:30px;
    color: #b39e66;
    transition: all 0.5s ease;
}




#about-section
{

    position: relative;
    text-align: center;
    height:60vh;
    width: 100%;
    font-size: 20px;
}


#about_h1
{
    color:#b39e66 ;
}
#goal_p
{
    font-size:30px;
    color: #b39e66;
}
.top
{
    position:relative;
    font-size: 15px;
    padding:5px;
    border:0;
    font-weight: bold;
    border-radius: 8px;
    margin-left:0px;



}

.top a{
  color:black;
}
.top a:hover
{
    color: #b39e66;
    transition: all 0.6s ease;
}



#team-section
{

    position: relative;
    text-align: center;
    height:180vh;
    width: 100%;
    font-size: 20px;
    background-color: #212326;
    color: #dfe6e4;

}

#team-section h1
{
    color:#b39e66 ;

}

img
{
    border-radius: 8px;
    width:200px;
    height:210px;

}
.members-img
{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    top:25px;
    height: 80vh;
}

#AD, #AP, #GA
{
   position: relative;
    height:50vh;
    padding: 10px;
    margin-left: 20px;

}

.email_address
{

   position: relative;
    color:#dfe6e4;
    font-weight: bold;
    font-size: 15px;
}
.email_address:hover
{
    color: #b39e66;
    transition: all 0.6s ease;
}

.role
{
    font-weight: bold;
    font-size:15px;


}
.role p{
    color:#b39e66;
    font-size: 20px;
}



#social-media-section{
    font-size: 20px;
    position: relative;
    text-align: center;
    height:120vh;
    width: 100%;

    background-color: #b39e66;

}
#social-media-section h1
{
    color:#212326 ;
}


#feed
{
    position:relative;
    height:auto;
    display: flex;
    top:40px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
    border-radius: 10px;
    padding:10px;


}

#feed a{
    width:700px;
    height:250px;
}




.footer
{
    position: sticky;
    width: 100%;
    top: 100%;
    height: 150px;
    margin-top: auto;
    background-color: #212326;

}

.column_1
{
    position:absolute;
    float:left;
    padding:20px;
    top:10px;
    font-size: 15px;
}

.column_2
{
    position:absolute;
    margin:20px;
    left:40%;
    top:10px;
}
.column_2 h4{
    font-size: 15px;
}

#Twitter{
    position:relative;
    top:10px;
    color: white;
    font-size: 15px;
}

.social,.contact
{
    color:#b39e66;
}

.email
{
    position: relative;
    color: white;
    font-size:15px;
    top:10px;
}

.back_btn
{
    color:white;
}
.back_btn:hover
{
    color:#b39e66;
    transition: all 0.6s ease;

}

#chall-H1
{
    position: relative;
    text-align: center;
    color: #b39e66;
    top:50px;
}
#myDiv{
    position: relative;
    padding: 10px;
    height:50vh;
    top:50px;
    background-color: lightgray;

}


#challenges
{
    font-size:15px;
    font-weight: bold;
    text-align: center;
    position:relative;
    top:15px;

}
#challenges a {

    color:#212326;
    padding: 20px;
}

#challenges a:hover{
    color: #b39e66;
    transition: all 0.5s ease;
}


#name-input
{
    color:#b39e66;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 25px;

}

#playerName
{
    position: relative;
    border-radius: 8px;

    margin-top:30px;
    padding: 10px;
}


#register
{
    background-color: lightgray;
    position: relative;
    padding: 10px;
    height:30vh;
    margin-top:20px;
    text-align: center;
   /* display: flex;
    flex-direction: column;
    justify-content: center; */

}

#box-id
{
    position: relative;
    padding: 10px;
    height:50vh;
    margin-top:10px;
    text-align: center;


}



#enter
{
    position: relative;
    padding:10px;
    margin-top:10px;
    width:70px;
    border-radius:8px;
    font-weight: bold;
}
#enter:hover
{

    color: #b39e66;

}

#questions_div
{
    position:relative;
    text-align: center;
    top:40px;

}

#score-div p
{
    color:#b39e66;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 5px;
    top:5px;
}

#answer-box
{
    border-radius: 8px;
    padding: 5px;
    font-weight: bold;
    color: #b39e66;
}

#submit-btn
{
    position: relative;
    padding:5px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #dfe6e4;
    border: 0;
    top:5px;

}
#submit-btn:hover
{
    font-size: 15px;
    color: #b39e66;
    transition: 0.5s ease;
}

#questions_div
{
    background-color: lightgray;
    height:180px;
    margin:10px;
    border-radius: 8px;
    padding:5px;
    box-shadow: 10px 10px 8px grey;
}

#skip
{
    color: #dfe6e4;
    background-color: #212326;
    padding: 5px;
    font-weight: bold;
    border: 0;
}
#skip:hover
{
    color: #b39e66;
    transition: 0.5s ease;

}

