*{
    margin: 0px;
    padding: 0px;
    box-size: border-box;
    font-family: Verdana;
    list-style: none;
    text-decoration: none;
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #212326;

}

.Logo{
    color:#b39e66;
    font-size: 15px;
}

.nav-items
{
    display: flex; /*Displays items next to each other*/
    width:50%;
    justify-content: space-around;


}
.nav-items a{
    color:#dfe6e4;
    letter-spacing:1px;
}


.nav-items-drop
{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 40px;
    background-color:#212326;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(0%); /*This will make this menu move in and out the screen*/
    z-index: 1;

}

.nav-items-drop a

{
    color:#dfe6e4;
    letter-spacing:1px;
}
.nav-items a:hover
{
    color: #b39e66;
    font-size:17px;
    transition: all 0.2s ease;
}


.hamburger-menu
{
    display: none;

}

.hamburger-menu div {
    width: 25px;
    height: 5px;
    background-color:#dfe6e4;
    margin: 5px;
}

@media screen and (max-width: 650px)
{
    body
    {
        overflow-x: hidden; /*Makes it so you cannot scroll to the right*/
    }
    .hamburger-menu
    {
        display: block;
        cursor: pointer;
    }

    .nav-items-drop
    {
        display:flex;

    }
   /* .nav-items{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 40px;
        background-color:#212326;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%); /*This will make this menu move in and out the screen*/
  /*      z-index: 1;
    }
     */

    .column_1, .column_2
    {
        font-size: 12px;
    }

    .members-img
    {
        margin-left:0px;

    }

   #social-media-section{
       top:150px;
   }
    img
    {
        width:100px;
        height:110px;
    }

}



.Logo
{
    font-size: 15px;
}

.bg_area
{
    position:relative;
    width: 100%;
    height: 100vh;
    /*background: url(th_img.jfif);*/
    /*background-size: cover;*/
    background-color: lightgray;

}
.content
{
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 30px;


}
.content h1
{
    color:#b39e66;
}

.button
{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    top: 30px;
    color: black;
    padding: 5px;


}

.button:hover
{
    font-size:30px;
    color: #b39e66;
    transition: all 0.5s ease;
}




#about-section
{
    position: relative;
    text-align: center;
    height:100vh;
    width: 100%;
    font-size: 20px;
}
#about_h1
{
    color:#b39e66 ;
}
#goal_p
{
    font-size:30px;
    color: #b39e66;
}
.top
{
    position: relative;
    font-size: 15px;
    padding:5px;
    border:2px solid #b39e66;
    font-weight: bold;
    border-radius: 8px;


}

.top a{
  color:black;
}
.top:hover
{
    background-color: #b39e66;
    transition: all 0.6s ease;
}



#team-section
{
    font-size: 20px;
    position: relative;
    text-align: center;
    height:150vh;
    width: 95%;
   
}

#team-section h1
{
    color:#b39e66 ;

}

img
{
    border-radius: 8px;
    width:200px;
    height:210px;
}
.members-img
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top:25px;
    height: 80vh;
}

#AD, #AP, #GA
{
   position: relative;
    height:50vh;

    padding: 10px;

    margin-left:90px;
}

.email_address
{

   position: relative;
    color:#212326;
    font-weight: bold;
    font-size: 15px;
}
.email_address:hover
{
    color: #b39e66;
    transition: all 0.6s ease;
}


#social-media-section{
    font-size: 20px;
    position: relative;
    text-align: center;
    height:80vh;
    width: 100%;
    margin-top:50px;

}
#social-media-section h1
{
    color:#b39e66 ;
}

.insta-links a
{
    color:#212326;
}
.insta-links a:hover
{
    color: #b39e66;
    transition: all 0.6s ease;
}




.footer
{
    position: sticky;
    width: 100%;
    top: 100%;
    height: 150px;
    margin-top: auto;
    background-color: #212326;

}

.column_1
{
    position:absolute;
    float:left;
    padding:20px;
    top:10px;
    font-size: 15px;
}

.column_2
{
    position:absolute;
    margin:20px;
    left:40%;
    top:10px;
}
.column_2 h4{
    font-size: 15px;
}

#Twitter{
    position:relative;
    top:10px;
    color: white;
}

.social,.contact
{
    color:#b39e66;
}

.email
{
    color: white;
    padding: 5px;
    font-size:10px;
}

.back_btn
{
    color:white;
}
.back_btn:hover
{
    color:#b39e66;
    transition: all 0.6s ease;

}

#chall-H1
{

    text-align: center;
    color: #b39e66;
    top:60px;
}
#myDiv{
    position: relative;
    padding: 10px;
    height:50vh;
    margin-left:20px;
    margin-right: 20px;
    margin-top:20px;

}


#challenges
{
    font-size:15px;
    font-weight: bold;
    text-align: center;
    position:relative;
    top:15px;

}
#challenges a {

    color:#212326;
    padding: 20px;
}

#challenges a:hover{
    color: #b39e66;
    transition: all 0.5s ease;
}

#playerName
{
    position: relative;
    border-radius: 8px;
    margin-left:75px;
    margin-top:30px;
    padding: 10px;
}

#register
{
    background-color: lightgray;
    position:relative;
    padding: 10px;
    margin-top:30px;
    width:50vh;
    height:60vh;
    margin-left:80vh;
}

#name-input
{
    color:#b39e66;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

#enter
{
    position: relative;
    padding:5px;
    margin-top:10px;
    margin-left:160px;
    width:60px;
}
