*{
    font-family: sans-serif; /*The * is used to target everything the DOM*/
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    min-height: 180vh;
}

.content {
    position: absolute;
    /* border: 1px solid black; */
    margin-left:40%;
    padding:30px;
    height:100vh;
    margin-bottom:10px;
    width:30%;
}
.header{


    padding: 20px;
    text-align: center;

    color: white;
    font-size: 30px;
    background:#212326;
}

#header-text{
  font-size:15px;

}
.btn
{

    font-size: 15px;
     border-radius:20px;
    background:linear-gradient(#ccd8d9, #6bafb5);
    position:relative;
    margin:5px;
    width:70px;
    padding:7px;

}

.btn:hover
{
    font-size:20px;
}
.container
{
    border:1px solid black;
    position:relative;

    height:80%;
    padding:20px;

}

.names
{
    text-align: center;
    color:#38ab68;
    text-shadow: 2px 2px grey;
}
.paragraph_1
{
    font-size:30px;
    text-decoration: underline;
}
.name-list{
    position: relative;
    text-align: center;
    padding:10px;
    font-size: 20px;


}

li{
    border:1px solid black;
    padding:10px;

}


.roles{
    text-decoration: underline;
}

h2
{
    text-align: center;
    color:#38ab68;
    text-shadow: 2px 2px grey;
}
#p_2
{
    color:black;
    font-size: 20px;
    text-align: center;
}
.footer
{
    /*position:relative;
    width:100%;
    padding:40px;
    margin-top: auto;
    background-color: black;
    color:white;*/
    position: sticky;
    border-style: hidden;
    background-color: #212326;
    margin-top:10%;
    margin:0;
    padding:40px;


}
a{
    color:white;
    pading:5px;
}
a:hover
{
    color:lightskyblue;
    font-size:20px;
}
